body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ccc;
  weight: 300;
}

figure {
  margin: auto;
}

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.lesson-box {
  position: relative;
  height: 600px;
  background-image: url(../images/math.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.title {
  height: 100px;
  width: 100%;
  background-image: url(../images/builders.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.interaction {
  text-align: center;
  border: 2px #ccc dashed;
  border-radius: 25%;
  height: 400px;
}

.dropzone {
  position: relative;
  top: 100px;
  left: 30%;
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  padding: 100px;
  width: 10%;
  transition: background-color 0.3s;
  border-radius: 50%;
  text-align: center;
}

.drop-target {
  background-color: #f2f2f2;
  border-color: #595959;
  border-style: dashed;
}

.drop-active {
  border: solid 2px black;
}

.drag-drop {
  position: relative;
  max-height: 50px;
  min-height: 50px;
  max-width: 70px;
  z-index: 2;
  color: #fff;
  border: solid 2px   #1a1a1a;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
  border-radius: 25%;
}

.drag-drop p {
  margin-top: 22%;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #29e;
  border-color: #fff;
}

.top {
  left: 38%;
  bottom: 60px;
  float: left;
  width: 50px;
  height: 50px;
}

.bottom {
  left: 12.5%;
  bottom: 5px;
  float: left;
  width: 50px;
  height: 50px;
}

.red {
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
}

.blue {
  bottom: -5px;
  right: 12.5%;
  background-color: blue;
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}

#timer {
  position: fixed;
  top: 500px;
  font-size: 40px;
  z-index: -1;
  left: 85%;
}

.critical {
  color: red;
}
