//output: sets_trial.html

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title SETS TRIAL
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/sets_trail.css")
    
  body
    header.lesson-box
       .title
       
    section.content
    
      audio(id="bassa" src="audio/mombassa.mp3")

      article
        #intro
          h1 Trial 1
          hr
          .text
            h4 This is a time trial. You have 5 minutes to complete all 3 challenges. 
          hr
          input(type="button" value="Begin" onclick="begin()")
          
          
        #trial.hidden
          h1 Challenge 1
          hr
          .text
            h4 Form a set containing 3 even numbers.
          hr
          
          article.interaction
            #item.drag-drop.red.top 
              p 1

            #item.drag-drop.blue.top 
              p 2
            
            #item.drag-drop.green.top 
              p 3

            #item.drag-drop.green.bottom 
              p 4
              
            #item.drag-drop.red.bottom 
              p 5
                        
            #item.drag-drop.blue.bottom 
              p 6
              
            #a.dropzone
              p A
            
            #outputA.output
            #membershipA.membership 
            
          h1 Challenge 2
          hr
          .text
            h4 Form a set containing 1 odd, 1 even and at least 1 green number.
          hr        
          
          article.interaction
            #item.drag-drop.red.top 
              p 1

            #item.drag-drop.blue.top 
              p 2
            
            #item.drag-drop.green.top 
              p 3

            #item.drag-drop.green.bottom 
              p 4
              
            #item.drag-drop.red.bottom 
              p 5
                        
            #item.drag-drop.blue.bottom 
              p 6
              
            #b.dropzone
              p B
            
            #outputB.output
            #membershipB.membership   
          
          h1 Challenge 3
          hr
          .text
            h4 Form a set whose elements add up to 9 without including any red numbers. 
          hr   
          
          article.interaction
            #item.drag-drop.red.top 
              p 1

            #item.drag-drop.blue.top 
              p 2
            
            #item.drag-drop.green.top 
              p 3

            #item.drag-drop.green.bottom 
              p 4
              
            #item.drag-drop.red.bottom 
              p 5
                        
            #item.drag-drop.blue.bottom 
              p 6
            
            #c.dropzone
              p C
            
            #outputC.output
            #membershipC.membership
          
          hr  
          input(type="button" value="Submit" onclick="submit()")
          
          #timer

  footer
    script(src="mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(src="js/interact.js")
    script(src="js/banner.js")
    script(src="js/drag.js")
    script(src="js/sets_trail.js")




        
  
